body {
    background-color: antiquewhite;
    font-family: Georgia;
}
header, footer{
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto;
}
img {
    width: 25%;
    height: 350px;
    margin: auto;
    float: left;
}
#center {
    width: 40%;
    height: 250px;
    margin: 20px;
    float: left;
}
#right {
    width: 25%;
    height: 250px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 2px gray;
    background-color: wheat;
    float: right;
    overflow: auto;
}

footer {
    clear: both;
}